*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
height: 100%;
width:100%;
background-color: black;
color: white;
}


.allProducts{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
padding: 20px;
background-color: #f0f0f0;

}
 

.product{
text-align: center;
background-color: white;
display: block;
width: 300px;
padding: 20px;
border-radius: 10px;
text-decoration: none;
}

.product img{
  height: 200px;
  margin-top: 10px;
}
.img{
  height: 200px;
  margin-top: 10px;
}

.product h2{
font-size: 20px;

}

